
.whole_container{
  text-align: center;
  margin: 0 300px 0 300px;
  border: 1px solid black;
  background-color: lightblue;

}
.form_container{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.label{
  font-size: 20px;
  font-weight: bolder;
}
.value{
  width:100%;
}
.image{
  height: 100px;
  width: 100px;
}



@media screen and (max-width: 1200px) {
  .whole_container{
    text-align: center;
    margin: 0 150px 0 150px;
    border: 1px solid black;
    background-color: lightblue;
  }
  .form_container{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    text-align: left;
    padding: 10px 10px 10px 10px;
  }
  .label{
    font-size: 20px;
    font-weight: bolder;
  }
  .value{
    width:100%;
  }
  .image{
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 800px) {
  .whole_container{
    text-align: center;
    margin: 0 50px 0 50px;
    border: 1px solid black;
    background-color: lightblue;
  }
  .form_container{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    text-align: left;
    padding: 10px 10px 10px 10px;
  }
  .label{
    font-size: 20px;
    font-weight: bolder;
  }
  .value{
    width:100%;
  }
  .image{
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 600px) {
  .whole_container{
    text-align: center;
    margin: 0 0 0 0;
    border: 1px solid black;
    background-color: lightblue;
  }
  .form_container{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    text-align: left;
    padding: 10px 10px 10px 10px;
  }
  .label{
    font-size: 20px;
    font-weight: bolder;
  }
  .value{
    width:100%;
  }
  .image{
    height: 100px;
    width: 100px;
  }
}
